@media (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .container > img {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  body {
    position: relative;
  }
  .container {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container > img {
    max-width: 50%;
  }
  .overlay {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 579px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  min-height: 100vh;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  padding: 20px;
  border-radius: 30px;
}
.container form {
  padding-right: 15px;
}
.container form > * {
  padding: 10px 0;
}
.container form h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: hsl(235, 18%, 26%);
}
.container form > p, .container form > ul {
  line-height: 1.7;
}
.container form ul li {
  display: flex;
  justify-content: start;
  align-items: center;
}
.container form ul li > span {
  padding-left: 5px;
}
.container form .email {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.container form .email label {
  font-weight: 500;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container form .email label span:last-child {
  color: red;
  font-weight: 300;
}
.container form .email input[type=email] {
  padding: 15px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 5px;
}
.container form .email input[type=email]:hover {
  cursor: pointer;
}
.container form .email input[type=email]:focus {
  outline: none;
  border: 1px solid hsl(234, 29%, 20%);
}
.container form .email input[type=submit] {
  margin-top: 20px;
  padding: 15px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.container form .email input[type=submit]:hover {
  cursor: pointer;
  background: rgb(255, 91, 73);
  background: linear-gradient(208deg, rgb(255, 91, 73) 0%, rgb(255, 98, 77) 54%, rgb(255, 91, 127) 63%);
  box-shadow: rgb(255, 91, 73) 3px 5px 10px;
}

.validity {
  background-color: rgba(252, 84, 84, 0.308);
  color: red;
}

.overlay {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  padding: 50px;
  border-radius: 30px;
}
.overlay h1 {
  padding: 50px 40px 50px 0;
  font-size: 50px;
  font-weight: bold;
  color: hsl(235, 18%, 26%);
}
.overlay p {
  line-height: 1.7;
}
.overlay a {
  display: block;
  margin-top: 20px;
  padding: 15px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
}
.overlay a:hover {
  cursor: pointer;
  background: rgb(255, 91, 73);
  background: linear-gradient(208deg, rgb(255, 91, 73) 0%, rgb(255, 98, 77) 54%, rgb(255, 91, 127) 63%);
  box-shadow: rgb(255, 91, 73) 3px 5px 10px;
}

.hide {
  z-index: -10;
}/*# sourceMappingURL=main.css.map */