//global rules

body{
    font-family: 'Roboto', sans-serif;
    background-color: $DarkSlateGrey;
    min-height: 100vh;
}


ul{
    list-style: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


//start container

.container{
    background-color: $White;
    overflow: hidden;
    padding: 20px;
    border-radius: $border_rad;
    form{ 
        padding-right: 15px;
        >*{
            padding: 10px 0;
        }
        h1{
            text-align: center;
            font:{
                size: 50px;
                weight: bold;
            }
            color: $CharcoalGrey;
        }
        >p, >ul{
            line-height: 1.7;
        }
        ul li {
            display: flex;
            justify-content: start;
            align-items: center;
            >span{
                padding-left: 5px;
            }
        }
        .email{
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            label{
                font-weight: 500;
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                span:last-child{
                    color: red;
                    font-weight: 300;
                }
                
            }
            input[type='email']{
                padding: 15px;
                border: 1px solid $Grey;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                    border:1px solid $DarkSlateGrey
                }
            }
            input[type='submit']{
                margin-top: 20px;
                padding: 15px;
                background-color: $DarkSlateGrey;
                color: $White;
                border: none;
                border-radius: 5px;
                font-weight: 700;
                &:hover{
                    cursor: pointer;
                    background: rgb(255,91,73);
                    background: linear-gradient(208deg, rgba(255,91,73,1) 0%, rgba(255,98,77,1) 54%, rgba(255,91,127,1) 63%);
                    box-shadow: rgb(255,91,73) 3px 5px 10px;
                }
            }
        }

    }

    
}


.validity{
    background-color: rgba(252, 84, 84, 0.308);
    color: red;
}

.overlay{
    background-color: $White;
    overflow: hidden;
    padding: 50px;
    border-radius: $border_rad;
    h1{
        padding: 50px 40px 50px 0;

        font:{
            size: 50px;
            weight: bold;
        }
        color: $CharcoalGrey;
    }
    p{
        line-height: 1.7;
    }
    a{
        display: block;
        margin-top: 20px;
                padding: 15px;
                background-color: $DarkSlateGrey;
                color: $White;
                border: none;
                border-radius: 5px;
                font-weight: 700;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background: rgb(255,91,73);
                    background: linear-gradient(208deg, rgba(255,91,73,1) 0%, rgba(255,98,77,1) 54%, rgba(255,91,127,1) 63%);
                    box-shadow: rgb(255,91,73) 3px 5px 10px;
                }
    }
}

.hide{
    z-index: -10;
}